body {
    font-family: 'Montserrat', sans-serif;
    background: var(--color-bg) ;
    color: var(--color-text);
}

.caixa {
    position: relative;
    width: 940px;
    margin: 0 auto;
}

nav {
    position: absolute;
    top: 110px;
    right: 0;
}

nav li {
    display: inline;
    margin: 0 0 0 15px;
}

nav a {
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

nav a:hover {
    color: #00BFFF;
    text-decoration: underline;}
h1{
    text-align: center;
    font-size: 2em; 
    margin: 0 0 1em;
    clear: left;
}


nav{
    position: static;
    text-align: center;
}

header {
    background: #356EFF;
    padding: 50px 0;
}

/* Css da Página Inicial */


.principal {
    padding: 3em 0;
    width: 940px;
    margin: 0 auto;
    color: var(--color-text);
}

.principal p {
    margin: 0 0 1em;
}

.Terra-Fogo .principal{
    width: auto;
}

.Terra-Fogo {
    width: 560px;
    margin: 2em auto;
    text-align: center;
}

/* Css da Página de Causas */

strong {
    font-weight: bold;
}

.principal li {
    padding-top: 5px;
}

.imagem-alasca {
    display: block;
}

.principal h1 {
    padding-left: 5px;
    padding-top: 10px;
}

.as-regioes {
    padding-top: 10px;
}

body[data-theme="t-light"] {
    --color-bg: #d1d1d1;
    --color-text: black;
  }
  
  body[data-theme="t-dark"] {
    --color-bg: #363636;
    --color-text: #FFFAFA;
  }

  .my-button {
    background: #356EFF;
    color: black;
    font-weight: bold;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    transition: 1s all;
    cursor: pointer;
  }

  .fabrica{
    display: block;
    padding: 10px 0;
  }